.styled {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    color: #926239;
    line-height: 1.6;

}

.custom-nav-bar {
    background-color: #303030e6;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav-item a{
    display: inline-block;
    border-radius: 16px;
    background-color: black;
    color: #926239;
    text-align: center;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}
.nav-link a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.nav-link a:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.nav-item a:hover nav-item a{
    padding-right: 25px;
}
.nav-item a:hover nav-item a:after{
    opacity: 1;
    right: 0;
}