<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/header}"/>
</head>

<div>
    <nav th:replace="~{fragments/navigation}">Navigation</nav>
</div>
<body>
<h2 style="text-align:center">User Profile Card</h2>
    <div class="user-card-box user-style " th:object="${userProfile}">
        <img src="/images/profile.png">
        <span class="field-style" th:text="| Username: *{username}|"></span>
        <span class="field-style" th:text="| First Name: *{firstName}|"></span>
        <span class="field-style" th:text="| Last Name: *{lastName}|"></span>
        <span class="field-style" th:text="| Email: *{email}|"></span>
        <span class="field-style" th:text="| Age: *{age}|"></span>
        <span class="field-style" th:text="| Gender *{gender}|"></span>
        <span class="field-style" th:text="| Phone Number: *{phoneNumber}|"></span>
        <div class="px-4 mt-5">
            <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
            <p>
                <button>Contact</button>
            </p>
        </div>
    </div>
</body>
</html>

<!--
<main class="p-5 align-content-center bg-blur my-register-div">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="profile-card user-card" th:object="${userProfile}">
                    <div class="text-center"><img src="images/profile.png" width="100" class="rounded-circle"></div>
                    <div class="text-center mt-3">
                        <span>Username</span>
                        <h5 class="mt-2 mb-0">Username</h5>
                        <span>First Name</span>
                        <h5 class="mt-2 mb-0">First Name</h5>
                        <span>Last Name</span>
                        <h5 class="mt-2 mb-0">Last Name</h5>
                        <span>Email</span>
                        <h5 class="mt-2 mb-0">Email</h5>
                        <span>Age</span>
                        <h5 class="mt-2 mb-0">Age</h5>
                        <span>Gender</span>
                        <h5 class="mt-2 mb-0">Gender</h5>
                        <span>Phone Number</span>
                        <h5 class="mt-2 mb-0">Phone Number</h5>
                        <div class="px-4 mt-5">
                            <p class="fonts">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim et nostrum
                                optio perferendis quam quod ratione rem sit soluta ut! A dolor laborum, maiores neque
                                nesciunt quis rerum sunt suscipit. </p>
                        </div>
                        <ul class="social-list">
                            <li><i class="fab fa-facebook-square"></i></li>
                            <li><i class="fab fa-instagram"></i></li>
                            <li><i class="fab fa-linkedin"></i></li>
                            <li><i class="fab fa-google"></i></li>
                        </ul>
                        <div class="buttons">
                            <button class="btn btn-outline-primary px-4">Back</button>
                            &lt;!&ndash;                            <button class="btn btn-primary px-4 ms-3">Contact</button>&ndash;&gt;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>-->
