<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/header}"/>
    <link rel="stylesheet" href="/css/delivery-information.css"/>
</head>

<body>
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>
<div class="row">
    <div class="col-75">
        <div class="container">
            <form
                    th:action="@{/deliveries/delivery-information}"
                    th:method="POST"
                    th:object="${orderDetailsDTO}">
                <div class="row">
                    <div class="col-50">
                        <h3>Delivery Information</h3>
                        <div>
                            <label for="personName"><i class="fa fa-user"></i> Person </label>
                            <input
                                    th:field="*{person}"
                                    th:errorclass="bg-white"
                                   type="text"
                                   id="personName"
                                   name="personName"
                                   placeholder="Person Name">
                            <small th:if="${#fields.hasErrors('person')}"
                                    th:errors="*{person}" class="bg-danger text-light rounded">
                                Field must be at least 4 characters.
                            </small>
                        </div>
                        <div>
                            <label for="country"><i class="fa fa-flag"></i> Country</label>
                            <input th:field="*{country}"
                                   th:errorclass="bg-white"
                                   type="text"
                                   id="country"
                                   name="country"
                                   placeholder="Country">
                            <small th:if="${#fields.hasErrors('country')}"
                                   th:errors="*{country}" class="bg-danger text-light rounded">
                                Field must be at least 3 characters.
                            </small>
                        </div>
                        <div>
                            <label for="phone number"><i class="fa fa-phone"></i> Phone Number</label>
                            <input th:field="*{phone}"
                                   th:errorclass="bg-white"
                                   type="text"
                                   id="phone number"
                                   name="email"
                                   placeholder="Phone Number">
                            <small th:if="${#fields.hasErrors('phone')}"
                                   th:errors="*{phone}" class="bg-danger text-light rounded">
                                Phone number is invalid.
                            </small>
                        </div>

                        <div>
                            <label for="email"><i class="fa fa-envelope"></i> Email</label>
                            <input th:field="*{email}"
                                   th:errorclass="bg-white"
                                   type="text" id="email"
                                   name="email"
                                   placeholder="daniel@example.com">
                            <small th:if="${#fields.hasErrors('email')}"
                                   th:errors="*{email}" class="bg-danger text-light rounded">
                                Invalid email.
                            </small>
                        </div>
                        <div>
                            <label for="city"><i class="fa fa-institution"></i> City</label>
                            <input th:field="*{city}"
                                   th:erroclass="bg-white"
                                   type="text"
                                   id="city"
                                   name="city"
                                   placeholder="Sofia">
                            <small th:if="${#fields.hasErrors('city')}"
                                   th:errors="*{city}" class="bg-danger text-light rounded">
                                Field must be at least 3 characters.
                            </small>
                        </div>
                        <div>
                            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                            <input th:field="*{address}"
                                   th:errorclass="bg-white"
                                   type="text" id="adr"
                                   name="address"
                                   placeholder="Street 5th №11">
                            <small th:if="${#fields.hasErrors('address')}"
                                   th:errors="*{address}" class="bg-danger text-light rounded">
                                Field must be at least 5 characters.
                            </small>
                            </div>
                            <div>
                                <label for="postalCode"><i class="fa fa-map-pin"></i>Postal Code</label>
                                <input th:field="*{postalCode}"
                                       th:errorclass="bg-white"
                                       type="text" id="postalCode"
                                       name="postalCode"
                                       placeholder="2011">
                                <small th:if="${#fields.hasErrors('postalCode')}"
                                       th:errors="*{postalCode}" class="bg-danger text-light rounded">
                                    Field must be at least 5 characters.
                                </small>
                               </div>
                        <selection>
                            <label for="courier"><i class="fa fa-shipping-fast"></i>Courier </label>
                            <div>
                                <select th:field="*{courier}"
                                        th:errorclass="bg-white"
                                        id="courier"
                                        name="courier" class="custom-btn-style">
                                    <option selected value="FedEx">FedEx</option>
                                    <option value="UPS">UPS</option>
                                    <option value="ZTO">ZTO</option>
                                </select>
                            </div>
                        </selection>
                    </div>
                </div>
                <input type="submit" value="Continue to checkout" class="btn">
            </form>
        </div>
    </div>
</div>
</body>
</html>
