<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Register</title>
    <head>
        <th:block th:include="~{fragments/header}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="/js/jquery-3.5.1.slim.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/register.css"/>
        <link rel="stylesheet" href="/css/nav-bar.css"/>
    </head>
</head>
<body class="image-custom">
<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="container main">
    <h2 class="text-center text-white">Register User</h2>

    <form
            th:action="@{/users/register}"
            th:method="post"
            th:object="${userRegisterDTO}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <small th:if="${userAlreadyExists == true}" class="bg-danger text-light">User already exist by this username or email.</small>
                <label for="username" class="text-white font-weight-bold">Username</label>
                <input
                        th:field="*{username}"
                        th:errorclass="'is-invalid bg-danger'"
                        id="username"
                        name="username"
                        type="text"
                        class="form-control"
                        placeholder="Username"/>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="errors alert alert-danger">
                    A custom Error Message.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="firstName" class="text-white font-weight-bold">First Name</label>
                <input
                        th:field="*{firstName}"
                        th:errorclass="'is-invalid bg-danger'"
                        id="firstName"
                        name="firstName"
                        type="text"
                        class="form-control"
                        placeholder="First Name"/>
                <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="errors alert alert-danger">
                    A custom Error Message.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="lastName" class="text-white font-weight-bold">Last Name</label>
                <input
                        th:field="*{lastName}"
                        th:errorclass="'is-invalid bg-danger'"
                        id="lastName"
                        name="lastName"
                        type="text"
                        class="form-control"
                        placeholder="Last Name"/>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{lastName}" class="errors alert alert-danger">
                    A custom Error Message.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="age" class="text-white font-weight-bold">Age</label>
                <input
                        th:field="*{age}"
                        th:errorclass="'is-invalid bg-danger'"
                        id="age"
                        name="age"
                        type="number"
                        class="form-control"
                        placeholder="Age"/>
                <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="errors alert alert-danger">
                    A custom Error Message.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="email" class="text-white font-weight-bold">Email</label>
                <input
                        th:field="*{email}"
                        th:errorclass="'is-invalid bg-danger'"
                        id="email"
                        name="email"
                        type="email"
                        class="form-control"
                        placeholder="Email"/>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="errors alert alert-danger">
                    A custom Error Message.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="password" class="text-white font-weight-bold">Password</label>
                <input
                        th:field="*{password}"
                        th:errorclass="'is-invalid bg-danger'"
                        id="password"
                        name="password"
                        type="password"
                        class="form-control"
                        placeholder="Password"/>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="errors alert alert-danger">
                    A custom Error Message.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="confirmPassword" class="text-white font-weight-bold">Confirm Password</label>
                <input
                        th:field="*{confirmPassword}"
                        th:errorclass="'is-invalid bg-danger'"
                        id="confirmPassword"
                        name="confirmPassword"
                        type="password"
                        class="form-control"
                        placeholder="Confirm Password"/>
                <small th:if="${passwordMustMatch == false}" class="bg-danger text-light">Passwords must match!</small>
                <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="errors alert alert-danger">
                    A custom Error Message.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="phoneNumber" class="text-white font-weight-bold">Phone Number</label>
                <input
                        th:field="*{phoneNumber}"
                        th:errorclass="'is-invalid bg-danger'"
                        id="phoneNumber"
                        name="phoneNumber"
                        type="text"
                        class="form-control"
                        placeholder="Phone Number"/>
                <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="errors alert alert-danger">
                    A custom Error Message.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="gender" class="text-white font-weight-bold">Gender</label>
                <select
                        th:field="*{gender}"
                        th:errorclass="'is-invalid bg-danger'"
                        id="gender"
                        name="gender"
                        class="form-control"
                        placeholder="Gender">
                <option value="" selected>Gender</option>
                <option th:each="gr :${T(online.store.onlineBookStore.enums.GenderEnum).values()}"
                th:text="${gr}" th:value="${gr}"></option>
                </select>

                <p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="errors alert alert-danger">
                    A custom Error Message.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Register"/>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>