<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <th:block th:include="~{fragments/header}"/>
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/user-card.css">
</head>

<div>
    <nav th:replace="~{fragments/navigation}">Navigation</nav>
</div>
<body class="user-profile-back">
<h2 style="text-align:center">User Profile Card</h2>
<div class="user-card-box user-style " th:object="${userProfile}">
    <img src="/images/profile.png">
    <span class="field-style"> Username:
            <p class="parameter" th:text="*{username}"></p>
        </span>
    <span class="field-style">First Name:
            <p class="parameter" th:text="*{firstName}"></p>
        </span>
    <span class="field-style">Last Name:
            <p class="parameter" th:text="*{lastName}"></p>
        </span>
    <span class="field-style">Email:
            <p class="parameter" th:text="*{email}"></p>
        </span>
    <span class="field-style">Age:
            <p class="parameter" th:text="*{age}"></p>
        </span>
    <span class="field-style">Gender:
        <p class="parameter" th:text="*{gender}"></p>
    </span>
    <span class="field-style">Phone Number:
        <p class="parameter"  th:text="*{phoneNumber}"></p>
    </span>
    <div class="px-4 mt-5">
        <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
    </div>
</div>
</body>
</html>
